@{
    ViewData["Title"] = "Home Page";
}

<section id="Slider">
    <div id="carouselExampleCaptions" class="carousel carousel-dark slide" >
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000" >
            <img src="~/schoolboys-at-lesson.jpg" class="d-block w-100" alt="..." height="650">
        <div class="carousel-caption d-none d-md-block">
            <h3>A educação é a arma mais poderosa que você pode usar para mudar o mundo!</h3>        
        </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000" >
        <img src="~/students-knowing-the-right-answer.jpg" class="d-block w-100" alt="..." height="650">
            <div class="carousel-caption d-none d-md-block">
            <h3>Inicio do Ano letivo</h3>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000" >
        <img src="~/intercultural-pupils.jpg" class="d-block w-100" alt="..." height="650">
        <div class="carousel-caption d-none d-md-block">
            <h3>O conhecimento lhe dará a oportunidade de fazer a diferença</h3>
        </div>
    </div>
  </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</section>


    <div class="container" id="cards">
        <div class="row">
             <div class="col">
                <div class="card" style="width: 20rem;">
                     <img src="~/calendario-saude-1170x570.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                     <h5 class="card-title text-center">Calendário Escolar </h5>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div style="text-align:center">
                   <a href="#" class="btn btn-outline-primary">Continuar Lendo</a>
                </div>
             </div>
             </div>
             </div>

            <div class="col">
                <div class="card" style="width: 20rem;">
                     <img src="~/resultado-enem-notas-medias.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                     <h5 class="card-title text-center">Simulados 2022</h5>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div style="text-align:center">
                <a href="#" class="btn btn-outline-primary">Continuar Lendo</a>
                </div>
             </div>
             </div>
            </div>

         <div class="col">
                <div class="card" style="width: 20rem;">
                     <img src="~/formatura.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                     <h5 class="card-title text-center">Formaturas 2022</h5>
                     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div style="text-align:center">
                     <a href="#" class="btn btn-outline-primary">Continuar Lendo</a>
                </div>
             </div>
             </div>
         </div>
    </div>
</div>


